@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,700;1,400&display=swap');

a {
  color: white;
  text-decoration: inherit;
  font-weight: 500;
}

a:hover,
a:focus {
  color: beige;
}

body {
  font-family: Nunito, Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 5rem;;
  min-width: 320px;
}
