a {
  color: white;
  text-decoration: inherit;
  font-weight: 500;
}

a:hover,
a:focus {
  color: beige;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 10rem 5rem;;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
