.productCard {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  img {
    width: 12rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-top: 0;
  }

  p {
    margin-top: 0.5rem;
    color: #666;
  }

  .price {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #444;
    span {
      color: #007bff;
    }
  }

  @media (max-width: 1024px) {
    img {
      width: 75%;
    }
  }
}
