.searchContainer {
  display: flex;
  flex-direction: column-reverse; /* Reverse flex direction for mobile */

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end; /* Align input to the right */
  }

  .searchInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */

    input {
      width: 100%;
      padding: 0.75rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: none;
      border-radius: 0.25rem;
      font-size: 1rem;
      color: #333;
      transition: background-color 0.3s ease;

      &:focus {
        outline: none;
      }
    }
  }
}
